# Importing Realational Databases

- consists of many tables
    - tables generally represent one entity type each
    - similar to a data frame
    - each row must have a unique identifier (aka an identity key) to allow row access
- tables are linked 
    - usually have an attribute that corresponds to another entity
    - usually uses the unique identifier
    
## Creating a Database Engine

In [5]:
from sqlalchemy import create_engine

# create engine
# connection string = type of db :/// name of db (Chinook currently does not exist on this server)
engine = create_engine("sqlite:///Chinook.sqlite") 

# observe the table names
table_names = engine.table_names()
print(table_names)

[]

## Querying Relational Databases

### 1. Using sqlalchemy

#### 1. Connect to the Engine

In [6]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("sqlite:///Chinook.sqlite") 
con = engine.connect()

Note that connections can also be opened in a context manager, saving the trouble of closing the connection later.

In [ ]:
with engine.connect() as con:
    ## query

#### 2. Query the Database

# returns all columns from the table Orders as a sqlalchemy results object
rs = con.execute("SELECT * FROM Orders")

# Artist and OrderDate columns, rows with price condition, orders table, sorted by decreasing CustomerID
rs = con.execute("SELECT Artist, OrderDate FROM Orders WHERE Price <= 5000 ORDER BY CustomerID DESC) 

# convert to dataframe
df1 = pd.DataFrame(rs.fetchall())
df2 = pd.DataFrame(rs.fetchmany(size=5)) # gets first 5 rows

# set column names
df.columns = rs.keys()

#### 3. Close the Connection

con.close()

### 2. Using Pandas

#### Query

from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("sqlite:///Chinook.sqlite") 

# Using pandas
df = pd.read_sql_query("SELECT * FROM Orders", engine)

## Exploiting Table Relationships

### Joining Tables

SELECT OrderID, CompanyName FROM 
    Orders INNER JOIN Customers ON Orders.CustomerID = Customer.CustomerID

- Links the Order table and Customers table using the CustomerID column
- Selects OrderID and CompanyName columns
- Inner join means that missing values will not be superfluously added